* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol {
  display: flex;
  gap: 50px;
  width: 700px;
  margin: 0 auto;
  padding-top: 50px;
  list-style: none;
}

ol li{
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  font-family: cursive;
}
.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
